.NavBar {
  width: 100%;
  max-width: 400px;
  height: 55px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  position: fixed;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  background-color: #000;
  font-size: 15px;
  border-radius: 15px 15px 0 0;
}

.NavBar > * {
  width: 78px;
}

.NavBar a,
.NavBar a:visited {
  color: #fff;
}

.NavBar a {
  text-decoration: none;
  cursor: pointer;
}

.NavBar > button {
  /* background-color: #61dafb; */
}

.NavBar a.active{
  color: #61dafb;
}

.bandera {
  background-image: url('../img/reino-unido.png');
  background-position: center;
  background-size: cover;
  width: 100px;
  height: 100px;
  position: absolute;
  right: 20px;
  bottom: 60px;
}

.spanish {
  background-image: url('../img/espana.png') !important;
}