.App {
  text-align: center;
}

.App-logo {
  width: 200px;
  pointer-events: none;
  position: absolute;
  top: 100px;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.App-header > section {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}

.note {
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  color: #282c34;
  background: #ffae00;
  height: 90px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 13px;
}

.note span {
  color: #000;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
